/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*

  Header

*/
.header > .container {
  padding: 1.25rem; /* 20px */
  border-bottom: 0.0625rem /* 1px */ solid rgb(0, 0, 0);
}

@media (max-width: 61.875rem /* 990px */) {
  .header {
    display: none;
    visibility: hidden;
  }
}
/*

  Header End

*/

/*

  HeaderMobile

*/
.headermobile {
  height: 11.5625rem; /* 185px */
  padding: 1.25rem; /* 20px */
  background: url(../../images/banners/girl.jpg) center center / cover no-repeat;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
}

.headermobile .logo {
  margin-right: 1.25rem; /* 20px */
  margin-left: auto;
}

@media screen and (max-width: 990px) {
  .headermobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
  }
}
/*

  HeaderMobile End

*/

/*

  Navbar

*/
.navbar {
  position: relative;
  height: 5rem; /* 80px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
}

.navbar > .container {
  height: inherit;
  position: relative;
}

/* Navs */
nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
/* Navs End */

/* NavItem */
.navbar_item {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 0.125rem; /* 2px */
  text-transform: uppercase;
  text-align: right;
  color: rgb(88, 89, 91);
  padding-left: 1.4063rem; /* 22.5px */
  padding-right: 1.4063rem; /* 22.5px */
}

.navbar_nav .navbar_item:first-child {
  padding-left: 0;
}

.navbar_nav .navbar_item:last-child {
  padding-right: 0;
}

.navbar_nav .navbar_item.language:first-child {
  padding-right: 0.4688rem /* 7.5px */ !important;
}

.navbar_nav .navbar_item.language:last-child {
  padding-left: 0.4688rem /* 7.5px */ !important;
}
/* NavItem End */

/* NavLink */
.navbar_link {
  font-weight: bold;
  text-decoration: none;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125rem; /* 18px */
  color: rgb(88, 89, 91);
}

.navbar_item.active.navbar_item.language .navbar_link {
  color: var(--accent-color);
}
/* NavLink End */

/* NavDropdown */
.navbar_dropdown {
  position: relative;
}

.navbar_dropdown::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 1.875rem; /* 30px */
  border-left: 0.4375rem /* 7px */ solid transparent;
  border-right: 0.4375rem /* 7px */ solid transparent;
  border-top: 0.4375rem /* 7px */ solid rgb(255, 255, 255);
  z-index: 10;
  display: none;
}

.navbar_dropdown_menu {
  width: 18.9375rem; /* 303px */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgba(0, 191, 243, 0.9);
  z-index: 9;
  padding: 0.625rem 1.875rem 0; /* 10px 30px */
  border-radius: 0 0 0.9375rem 0.9375rem; /* 15px 15px */
}

.navbar_dropdown:hover::after {
  display: block;
}

.navbar_dropdown:hover .navbar_dropdown_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar_dropdown_item {
  padding: 1.25rem 0rem; /* 20px 0px */
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navbar_dropdown_item:not(:last-child) {
  border-bottom: 0.0625rem /* 1px */ solid rgb(255, 255, 255);
}

.navbar_dropdown_item a {
  height: 100%;
  width: 100%;
  display: block;
  color: rgb(255, 255, 255);
  font-size: 1.125rem; /* 18px */
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.2;
}
/* NavDropdown End */
/*

  Navbar End

*/

/* 

  NavbarMobile

*/
.navbarmobile {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: none;
  visibility: hidden;
  z-index: 50;
}

.navbarmobile > nav {
  height: 5.625rem; /* 90px */
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 0.0625rem /* 1px */ solid rgb(204, 204, 204);
  padding: 0 1.25rem; /* 20px */
}

.navbarmobile_menu {
  visibility: hidden;
  transition: visibility 0.3s linear;
}

.navbarmobile_menu_overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 51;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbarmobile_menu > nav {
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: auto;
  min-width: 18.75rem; /* 300px */
  max-width: 100%;
  z-index: 52;
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  color: rgb(88, 89, 91);
  overflow-y: auto;
  transition-delay: 1s;
  transition: all 0.3s linear;
}

.navbarmobile_menu > nav::-webkit-scrollbar {
  width: 0.5625rem; /* 9px */
}

/* Track */
.navbarmobile_menu > nav::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.navbarmobile_menu > nav::-webkit-scrollbar-thumb {
  background: rgba(157, 191, 45, 0.707);
  border-radius: 0.3125rem; /* 5px */
}

/* Handle on hover */
.navbarmobile_menu > nav::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 191, 45);
}

.navbarmobile_menu .navbarmobile_nav {
  padding-bottom: 15rem;
}

.navbarmobile_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbarmobile_header_title {
  color: rgb(156, 191, 45);
  font-size: 1.25rem; /* 20px */
  font-weight: bold;
  letter-spacing: 0.0625rem; /* 1px */
  text-transform: uppercase;
}

.navbarmobile_header_close {
  cursor: pointer;
  transition: color 0.3s linear;
}

.navbarmobile_header_close i {
  font-size: 1.5rem;
}

.navbarmobile_header_close:hover {
  color: rgb(156, 191, 45);
}

.navbarmobile_menu nav .navbarmobile_dropdown_toggler,
.navbarmobile_menu .navbarmobile_item {
  width: 100%;
  border-left: 0.3125rem /* 5px */ solid transparent;
  cursor: pointer;
}

.navbarmobile_header,
.navbarmobile_menu nav .navbarmobile_dropdown_toggler,
.navbarmobile_menu .navbarmobile_item {
  border-bottom: 0.0625rem /* 1px */ solid rgb(204, 204, 204);
  padding: 1rem 1.875rem 1rem 1.5625rem; /* 0px 30px 25px */
}

.navbarmobile_menu nav .navbarmobile_dropdown_toggler,
.navbarmobile_link {
  color: rgb(88, 89, 91);
  font-size: 1.125rem; /* 18px */
  font-weight: bold;
  letter-spacing: 0.0625rem; /* 1px */
  text-transform: uppercase;
  transition: all 0.3s linear;
}

.navbarmobile_menu nav .navbarmobile_dropdown_toggler:hover,
.navbarmobile_menu
  nav
  .navbarmobile_dropdown.open
  > .navbarmobile_dropdown_toggler,
.navbarmobile_item:hover .navbarmobile_link,
.navbarmobile_item.active .navbarmobile_link {
  color: rgb(156, 191, 45);
}

.navbarmobile_menu
  nav
  .navbarmobile_dropdown.open
  > .navbarmobile_dropdown_toggler,
.navbarmobile_menu .navbarmobile_item.active {
  border-left-color: rgb(156, 191, 45);
}

.navbarmobile_menu nav .navbarmobile_dropdown {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0;
  border-left: 0;
}

.navbarmobile_menu nav .navbarmobile_dropdown_toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 0;
}

.navbarmobile_dropdown_menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-left: 1.5625rem; /* 25px */
  margin: 0;
}

.navbarmobile_dropdown_item {
  width: 100%;
  padding: 1rem 1.875rem; /* 0px 30px */
  margin: 0;
}

.navbarmobile_dropdown_item .navbarmobile_dropdown_link {
  width: 100%;
  background: transparent;
  text-decoration: none;
  color: rgb(136, 136, 136);
  font-size: 1rem; /* 16px */
  letter-spacing: 0.0625rem; /* 1px */
  text-transform: uppercase;
  transition: color 0.3s linear;
}

.navbarmobile_dropdown_item:hover .navbarmobile_dropdown_link {
  color: rgb(156, 191, 45);
}

.navbarmobile_menu
  nav
  .navbarmobile_dropdown.open
  > .navbarmobile_dropdown_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbarmobile_menu
  nav
  .navbarmobile_dropdown.open
  > .navbarmobile_dropdown_toggler {
  border-left-color: rgb(156, 191, 45);
  color: rgb(156, 191, 45);
}

.navbarmobile_menu.open {
  visibility: visible;
}
.navbarmobile_menu.open > nav {
  transform: translateX(0);
}

.navbarmobile_item.language {
  display: none;
  visibility: hidden;
}

.navbarmobile_item.language.active {
  display: block;
  visibility: visible;
}

@media (max-width: 990px) {
  .navbar {
    display: none;
    visibility: hidden;
  }

  .navbarmobile {
    display: block;
    visibility: visible;
  }
}
/*

  NavbarMobile End

*/
