/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Step */
.step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-direction: column;
}

.step:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4.0625rem; /* 65px */
  left: 83%;
  width: 4.3rem; /* 65px */
  border-top: 0.0625rem /* 1px */ solid rgb(209, 210, 212);
}

.step_title {
  color: rgb(88, 89, 91);
  font-size: 1.5rem; /* 24px */
  font-weight: 800;
  margin: 1.875rem 0rem 0.75rem; /* 30px 0px 12px */
  line-height: 1.1;
  text-align: center;
}

.step_description {
  color: rgb(88, 89, 91);
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
  line-height: 1.1;
  padding: 0 2rem;
  text-align: center;
}

@media screen and (max-width: 1010px) {
  .step:not(:last-child)::after {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 990px) {
  .step:not(:last-child) {
    margin-bottom: 1.5rem; /* 24px */
  }

  .step {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .step > * {
    padding: 0 0.5rem;
  }

  .step_title {
    margin-top: 0;
    text-align: left;
  }

  .step_description {
    padding: 0;
    text-align: left;
  }
}
