/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*

  Header

*/
.Header,
.Header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.25rem; /* 20px */
}

.Header,
.Header .container {
  border-bottom: 0.0625rem /* 1px */ solid rgb(0, 0, 0);
}

.Header--container {
  padding: 0;
  display: block;
  border-bottom: none;
}
/*

  Header End

*/

/*

  HeaderMobile

*/
.HeaderMobile {
  height: 11.5625rem; /* 185px */
  padding: 1.25rem; /* 20px */
  background: url(../../images/girl.jpg) center center / cover no-repeat;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
}

.HeaderMobile .Logo {
  margin-right: 1.25rem; /* 20px */
  margin-left: auto;
}

@media (max-width: 61.875rem /* 990px */) {
  .Header {
    display: none;
    visibility: hidden;
  }

  .HeaderMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
  }
}
/*

  HeaderMobile End

*/

/*

  Navbar

*/
.Navbar,
.Navbar > .container {
  position: relative;
  height: 5rem; /* 80px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
}

.Navbar--container {
  padding: 0;
}

/* Navs */
nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
/* Navs End */

/* NavItem */
.Navbar__item {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 0.125rem; /* 2px */
  text-transform: uppercase;
  text-align: right;
  color: rgb(88, 89, 91);
  padding-left: 1.4063rem; /* 22.5px */
  padding-right: 1.4063rem; /* 22.5px */
}

.Navbar__nav .Navbar__item:first-child {
  padding-left: 0;
}

.Navbar__nav .Navbar__item:last-child {
  padding-right: 0;
}

.Navbar__nav .Navbar__item--language:first-child {
  padding-right: 0.4688rem /* 7.5px */ !important;
}

.Navbar__nav .Navbar__item--language:last-child {
  padding-left: 0.4688rem /* 7.5px */ !important;
}
/* NavItem End */

/* NavLink */
.Navbar__link {
  font-weight: bold;
  text-decoration: none;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125rem; /* 18px */
  color: rgb(88, 89, 91);
}

.Navbar__item--active.Navbar__item--language .Navbar__link {
  color: var(--accent-color);
}
/* NavLink End */

/* NavDropdown */
.Navbar__dropdown {
  position: relative;
}

.Navbar__dropdown::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 1.875rem; /* 30px */
  border-left: 0.4375rem /* 7px */ solid transparent;
  border-right: 0.4375rem /* 7px */ solid transparent;
  border-top: 0.4375rem /* 7px */ solid rgb(255, 255, 255);
  z-index: 10;
  display: none;
}

.Navbar__dropdown__menu {
  width: 18.9375rem; /* 303px */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgba(0, 191, 243, 0.9);
  z-index: 9;
  padding: 0.625rem 1.875rem 0; /* 10px 30px */
  border-radius: 0 0 0.9375rem 0.9375rem; /* 15px 15px */
}

.Navbar__dropdown:hover::after {
  display: block;
}

.Navbar__dropdown:hover .Navbar__dropdown__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Navbar__dropdown__item {
  padding: 1.25rem 0rem; /* 20px 0px */
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.Navbar__dropdown__item:not(:last-child) {
  border-bottom: 0.0625rem /* 1px */ solid rgb(255, 255, 255);
}

.Navbar__dropdown__item a {
  height: 100%;
  width: 100%;
  display: block;
  color: rgb(255, 255, 255);
  font-size: 1.125rem; /* 18px */
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.2;
}
/* NavDropdown End */
/*

  Navbar End

*/

/* 

  NavbarMobile

*/
.NavbarMobile {
  height: 5.625rem; /* 90px */
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: none;
  visibility: hidden;
  z-index: 50;
  background-color: rgb(255, 255, 255);
  border-bottom: 0.0625rem /* 1px */ solid rgb(204, 204, 204);
  padding: 0 1.25rem; /* 20px */
}

.NavbarMobile__menu__overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 51;
  background-color: rgba(0, 0, 0, 0.4);
}

.NavbarMobile__menu nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: auto;
  min-width: 18.75rem; /* 300px */
  max-width: 100%;
  z-index: 52;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(255, 255, 255);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  color: rgb(88, 89, 91);
  overflow-y: auto;
}

.NavbarMobile__menu nav::-webkit-scrollbar {
  width: 0.5625rem; /* 9px */
}

/* Track */
.NavbarMobile__menu nav::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.NavbarMobile__menu nav::-webkit-scrollbar-thumb {
  background: rgba(157, 191, 45, 0.707);
  border-radius: 0.3125rem; /* 5px */
}

/* Handle on hover */
.NavbarMobile__menu nav::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 191, 45);
}

.NavbarMobile__menu .NavbarMobile__nav {
  padding-bottom: 15rem;
}

.NavbarMobile__menu .NavbarMobile__item {
  width: 100%;
  min-height: 3.75rem; /* 60px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0.0625rem /* 1px */ solid rgb(204, 204, 204);
  padding: 0rem 1.875rem 0 1.5625rem; /* 0px 30px 25px */
  border-left: 0.3125rem /* 5px */ solid transparent;
}

.NavbarMobile__link {
  color: rgb(88, 89, 91);
  font-size: 1.125rem; /* 18px */
  font-weight: bold;
  letter-spacing: 0.0625rem; /* 1px */
  line-height: 1rem;
  text-transform: uppercase;
}

.NavbarMobile__link:hover {
  color: rgb(156, 191, 45);
}

.NavbarMobile__menu .NavbarMobile__item.NavbarMobile__item--active {
  border-left-color: rgb(156, 191, 45);
}

.NavbarMobile__item.NavbarMobile__item--active .NavbarMobile__link {
  color: rgb(156, 191, 45);
}

.NavbarMobile__menu__header {
  color: rgb(156, 191, 45);
  font-size: 1.25rem; /* 20px */
  font-weight: bold;
  letter-spacing: 0.0625rem; /* 1px */
  line-height: 1rem; /* 16px */
  text-transform: uppercase;
}

.NavbarMobile__menu__close i {
  font-size: 1.5rem;
}

.NavbarMobile__menu__close:hover {
  color: rgb(156, 191, 45);
}

.NavbarMobile__menu__toggler {
}

.NavbarMobile__menu nav .NavbarMobile__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0;
  border: 0;
  border-bottom: 0.0625rem /* 1px */ solid rgb(204, 204, 204);
}

.NavbarMobile__menu nav .NavbarMobile__dropdown__link {
  width: 100%;
  min-height: 3.75rem; /* 60px */
  padding: 0rem 1.875rem 0 1.5625rem; /* 0px 30px 25px */
  border-left: 0.3125rem /* 5px */ solid transparent;
  text-align: left;
  color: rgb(88, 89, 91);
  font-size: 1.125rem; /* 18px */
  font-weight: bold;
  letter-spacing: 0.0625rem; /* 1px */
  line-height: 1rem;
  text-transform: uppercase;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.NavbarMobile__dropdown__menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-left: 1.5625rem; /* 25px */
  margin: 0;
}

.NavbarMobile__dropdown__item {
  width: 100%;
  min-height: 3.75rem; /* 60px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0rem 1.875rem; /* 0px 30px */
  margin: 0;
}

.NavbarMobile__dropdown__item a {
  width: 100%;
  min-height: 3.75rem; /* 60px */
  outline: none;
  border: 0;
  background: transparent;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgb(136, 136, 136);
  font-size: 1rem; /* 16px */
  letter-spacing: 0.0625rem; /* 1px */
  line-height: 1.25rem; /* 20px */
  text-transform: uppercase;
}

.NavbarMobile__dropdown__item a:hover {
  color: rgb(156, 191, 45);
}

.NavbarMobile__menu
  nav
  .NavbarMobile__dropdown--active
  > .NavbarMobile__dropdown__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.NavbarMobile__menu
  nav
  .NavbarMobile__dropdown--active
  > .NavbarMobile__dropdown__link {
  border-left-color: rgb(156, 191, 45);
  color: rgb(156, 191, 45);
}

.NavbarMobile__menu {
  display: none;
  visibility: hidden;
}

.NavbarMobile__menu.NavbarMobile__menu--open {
  display: block;
  visibility: visible;
}

.NavbarMobile__item--language {
  display: none;
  visibility: hidden;
}

.NavbarMobile__item--language.NavbarMobile__item--active {
  display: block;
  visibility: visible;
}

@media (max-width: 61.875rem /* 990px */) {
  .Navbar {
    display: none;
    visibility: hidden;
  }

  .NavbarMobile {
    display: block;
    visibility: visible;
  }
}
/*

  NavbarMobile End

*/
