/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: bolder;
  font-size: inherit;
}

.text-accent {
  color: var(--accent-color);
}

.text-white {
  color: rgb(255, 255, 255);
}
